* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

body.dark-purple {
  --bg-color: #1d2a35;
  --text-color: white;
  --box-color: #af21af;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;

  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  margin-right: 1rem;
}

a {
  text-decoration: none;
}

.container {
  width: 25rem;
  margin: 5rem auto;
  text-align: center;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  padding: 0.37rem;
  border: purple solid 0.4rem;
}

h1 {
  font-size: 3.2rem;
  color: rgb(158, 39, 158);
  margin-top: 2.4rem 0 0.8rem;
}

.container p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: var(--text-color);
  opacity: 0.8rem;
  font-size: 1.8rem;
}

.links-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}

.lista-links li a {
  background-color: var(--box-color);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  padding: 1.5rem;
  font-size: 1.4rem;

  border-radius: 0.6rem;
  margin-bottom: 1.6rem;

  transition: background 1200ms;
}
ul li a:hover {
  opacity: 0.8;
}

footer {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--text-color);
  opacity: 0.6;
  transition: opacity 800ms;
}

footer:hover {
  opacity: 0.9;
}

footer a {
  color: var(--text-color);
}
